<div class="card">
    <div class="card-header title text-center">
        <h5>Tarjetas listadas</h5>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Titular</th>
                <th scope="col">No. Tarjeta</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tarjeta of listTarjetas">
                <td>{{ tarjeta.titular }}</td>
                <td>{{ tarjeta.numeroTarjeta }}</td>
                <td>
                    <i class="far fa-edit text-info"></i>&nbsp;
                    <i (click)="eliminarTarjeta(tarjeta.id)" class="far fa-trash-alt text-danger"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>