<div class="card">
    <div class="card-header title text-center">
        <h5>Tarjetas listadas</h5>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Titular</th>
                <th scope="col">No. Tarjeta</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Santiago Vivas</td>
                <td>1234567812345678</td>
                <td>
                    <i class="far fa-edit text-info"></i>&nbsp;
                    <i class="far fa-trash-alt text-danger"></i>
                </td>
            </tr>
            <tr>
                <td>Valentina Durán</td>
                <td>9765432187654321</td>
                <td>
                    <i class="far fa-edit text-info"></i>&nbsp;
                    <i class="far fa-trash-alt text-danger"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>